label{
    margin: 10px;
    width: 100px;
}

.parent{
    height: 100%;
    width: 50%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    box-shadow: 0px 0px 10px black;
    overflow: auto;

}

button{
    margin: 5px;
}

.first{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

input{
    border-radius: 10px;
    border: 1px solid black;
}

input:focus{
    box-shadow: 0px 0px 10px black;
}
