<div class="first">


    <div class="parent">

    <form [formGroup]="createForm" action="">
        <h3>Student Form :</h3>
        <label for="">Name: </label>
        <input type="text" name="" id="" formControlName="name">
        <br>
        <label for="">Gender: </label>
        <input type="text" name="" id="" formControlName="gender">
        <br>

        <label for="">Mobile: </label>
        <input type="number" name="" id="" formControlName="mobile">
        <br>

        <label for="">Email: </label>
        <input type="email" name="" id="" formControlName="email">
        <br>

        <label for="">Batch: </label>
        <input type="text" name="" id="" formControlName="batch">
        <br>
        <!-- nested form -->
        <div  formGroupName="address">

            <label for="">City: </label>
            <input type="text" name="" id="" formControlName="city">
            <br>
            <label for="">Mandal: </label>
            <input type="text" name="" id="" formControlName="mandal">
            <br>
    
            <label for="">District: </label>
            <input type="text" name="" id="" formControlName="district">
            <br>
    
            <label for="">State: </label>
            <input type="text" name="" id="" formControlName="state">
            <br>
    
            <label for="">Pincode: </label>
            <input type="number" name="" id="" formControlName="pincode">
            <br>

        </div>
        <!-- form array  -->
        <div formArrayName="educationArray">
            <div *ngFor="let education of educationFormArray.controls ; let i = index">
                <div formGroupName="{{i}}">
                    <h5>Education Details : {{i + 1}}</h5>
                    <label for=""> Qualification: </label>
                    <input type="text" name="" id="" formControlName="qualification">
                    <br>

                    <label for=""> Year: </label>
                    <input type="number" name="" id="" formControlName="year">
                    <br>

                    <label for=""> Percentage: </label>
                    <input type="text" name="" id="" formControlName="percentage">
                    <br>

                    <div>
                        <button (click)="delete(i)" class="btn btn-danger">Delete</button>
                    </div>

                </div>
            </div>
        </div>

        <div>
            <button class="btn btn-primary" (click)="add()">Add Education</button>
        </div>

        <hr>

        <!-- nested formgroup -->

        <div formGroupName="companyForm">
            <h5>Company Details: </h5>
            <label for="">Name: </label>
            <input type="text" name="" id="" formControlName="name">
            <br>

            <label for="">Location: </label>
            <input type="text" name="" id="" formControlName="location">
            <br>

            <label for="">package: </label>
            <input type="text" name="" id="" formControlName="package">
            <br>

            <label for="">Offer Date</label>
            <input type="text" name="" id="" formControlName="offerDate">
            <br>

        </div>

        <hr>

        <!-- dynamic form -->
        <label for="">Source Type : </label>
        <input id="i" type="radio" name="type" value="from" formControlName="type" style="box-shadow: 0px 0px 0px black;">
        <label for="i">Source From</label>

        <input id="j" type="radio" name="type" value="referal" formControlName="type" style="box-shadow: 0px 0px 0px black;">
        <label for="j">Referal</label>

        <div *ngIf="createForm.get('type')?.value == 'from' ">
            <label for="">Source From</label>
            <input type="text" formControlName="from">
        </div>

        <div *ngIf="createForm.get('type')?.value == 'referal' ">
            <label for="">Referal Name</label>
            <input type="text" formControlName="referal">
        </div>



        <div class="button-div">
            <button class=" btn btn-primary" (click)="submit()">Submit</button>
        </div>

    </form>
</div>
</div>