<div class="first">
    <div class="parent">
    <form [formGroup]="createForm" action="">
        <label for="">Name: </label>
        <input type="text" name="" id="" formControlName="name">
        <br>
        <label for="">Gender: </label>
        <input type="text" name="" id="" formControlName="gender">
        <br>

        <label for="">Mobile: </label>
        <input type="number" name="" id="" formControlName="mobile">
        <br>

        <label for="">Email: </label>
        <input type="email" name="" id="" formControlName="email">
        <br>

        <label for="">Batch: </label>
        <input type="text" name="" id="" formControlName="batch">
        <br>

        <div  formGroupName="address">

            <label for="">City: </label>
            <input type="text" name="" id="" formControlName="city">
            <br>
            <label for="">Mandal: </label>
            <input type="text" name="" id="" formControlName="mandal">
            <br>
    
            <label for="">District: </label>
            <input type="text" name="" id="" formControlName="district">
            <br>
    
            <label for="">State: </label>
            <input type="text" name="" id="" formControlName="state">
            <br>
    
            <label for="">Pincode: </label>
            <input type="number" name="" id="" formControlName="pincode">
            <br>

        </div>
        <!-- form array  -->
        <div formArrayName="educationArray">
            <div *ngFor="let education of educationFormArray.controls ; let i = index">
                <div formGroupName="{{i}}">
                    <h5>Education Details : {{i + 1}}</h5>
                    <label for=""> Qualification: </label>
                    <input type="text" name="" id="" formControlName="qualification">
                    <br>

                    <label for=""> Year: </label>
                    <input type="number" name="" id="" formControlName="year">
                    <br>

                    <label for=""> Percentage: </label>
                    <input type="text" name="" id="" formControlName="percentage">
                    <br>
                </div>
            </div>
        </div>

        <div>
            <button class="btn btn-primary" (click)="add()">Add Education</button>
        </div>

        <div class="button-div">
            <button class=" btn btn-primary" (click)="submit()">Submit</button>
        </div>

    </form>
</div>
</div>